{% extends "base.html.twig" %}

{% block title %}Création d'une nouvelle tâche - Todo list PHP
{% endblock %}

{% block main %}
	<main class="d-flex form-main">
		<form action="/task/createTask" method="post">
			<div class="form-container">
				<h1>Créez une nouvelle tâche</h1>

				<!-- Nom de la tâche -->
				<div class="d-flex form-input">
					<label for="task_name" class="form-label">Nom de la tâche :</label>
					<input type="text" name="task_name" id="task_name" placeholder="Ex : Faire les courses" required/>
				</div>

				<!-- Catégories -->
				<div class="d-flex form-input">
					<label for="category">Catégorie :</label>
					<select name="category" id="category">
						{% for category in categories %}
							<option value="{{ category.category_id }}" id="{{ category.category_id }}">{{ category.category_name }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Priorité -->
				<div class="d-flex form-input">
					<label for="priority">Priorité :</label>
					<select name="priority" id="priority">
						{% for priority in priorities %}
							<option value="{{ priority.priority_id }}" id="{{ priority.priority_id }}">{{ priority.priority_name }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Bouton de validation -->
				<div class="d-flex submit-input">
					<input type="submit" name="add" class="d-flex" value="Ajouter la tâche"/>
				</div>
			</div>
		</form>
	</main>
{% endblock %}
