{% extends "base.html.twig" %}

{% block title %}Modification de la tâche - Todo List PHP
{% endblock %}

{% block favicon %}
	<link rel="icon" type="image/x-icon" href="../../assets/imgs/favicon-48x48.png">
{% endblock %}

{% block main %}
	<main class="d-flex form-main">
		{% for taskInfo in task %}
			{#
			L'action du formulaire doit bien contenir l'identifiant de la tâche, sinon l'identifiant ne pourra pas être récupéré
			par le formulaire, ce qui me renverra vers une page d'erreur.
			#}
		<form action="/task/updateTask?id={{ taskInfo.task_id }}" method="post">
			<div class="form-container">
				<h1>Modifiez la tâche</h1>

				<!-- Nom de la tâche -->
				<div class="d-flex form-input">
					<label for="task_name" class="form-label">Nom de la tâche :</label>
						<input type="text" name="task_name" id="{{ taskInfo.task_id }}" value="{{ taskInfo.task_name }}" required/>
				</div>
		{% endfor %}

				<!-- Catégories -->
				<div class="d-flex form-input">
					<label for="category">Catégorie :</label>
					<select name="category" id="category">
						{% for category in categories %}
							<option value="{{ category.category_id }}" id="{{ category.category_id }}">{{ category.category_name }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Priorité -->
				<div class="d-flex form-input">
					<label for="priority">Priorité :</label>
					<select name="priority" id="priority">
						{% for priority in priorities %}
							<option value="{{ priority.priority_id }}" id="{{ priority.priority_id }}">{{ priority.priority_name }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="error-message">
					<p>{{ message }}</p>
				</div>

				<!-- Bouton de validation -->
				<div class="d-flex submit-input">
					<input type="submit" name="update" class="d-flex" value="Modifier la tâche"/>
				</div>
			</div>
		</form>
	</main>
{% endblock %}

{% block footer %}
	<footer class="footer-absolute">
		<div class="socials-icons d-flex">
			<a href="https://github.com/Luna-bf" target="_blank">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="https://www.linkedin.com/in/luna-buratti-fayolle/" target="_blank">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</footer>
{% endblock %}