{% extends "base.html.twig" %}

{% block title %}Création d'une nouvelle tâche - Todo list PHP 
{% endblock %}

{% block main %}
	<div class="create-task-div">
		<form action="index.php" method="post" id="task-form" class="d-flex text-dark">
			<fieldset id="create-task-form">
				<legend>
					<h2 class="fw-normal text-dark">Créer une nouvelle tâche :</h2>
				</legend>

				<!-- Nom de la tâche -->
				<div class="mb-3 form-group">
					<label for="name" class="form-label">Nom de la tâche :</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Ex : Faire les courses" required/>
				</div>

				<!-- Catégories -->
				<div class="mb-3 form-group">
					<label for="category" class="form-label">Catégorie :</label>
					<select id="category" name="category" class="form-select">
						{% for category in categories %}
							<option value="{{ category.category_name }}" id="{{ category.category_id }}">{{ category.category_name }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Priorité -->
				<div class="mb-3 form-group">
					<label for="priority" class="form-label">Priorité :</label>
					<select id="priority" name="priority" class="form-select" aria-label="Default select example">
						{% for priority in priorities %}
							<option value="{{ priority.priority_name }}" id="{{ priority.priority_id }}">{{ priority.priority_name }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Bouton de validation -->
				<input type="submit" id="add" name="add" value="Ajouter la tâche" class="btn btn-primary"/>
			</fieldset>
		</form>
	</div>
{% endblock %}
