{% extends "base.html.twig" %}

{% block title %}Modification de la tâche - Todo List PHP
{% endblock %}

{% block main %}
	<main class="d-flex create-task-form">
		<form action="/form/updateTask" method="post">
			<div class="form-container">
				<h1>Modifiez la tâche</h1>

				<!-- Nom de la tâche -->
				<div class="d-flex form-input">
					<label for="name" class="form-label">Nom de la tâche :</label>
					<input type="text" name="task_name" placeholder="{{ task.task_name }}" required/>
				</div>

				<!-- Catégories -->
				<div class="d-flex form-input">
					<label for="category">Catégorie :</label>
					<select name="category">
						{% for category in categories %}
							<option value="{{ category.category_id }}" id="{{ category.category_id }}">{{ category.category_name }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Priorité -->
				<div class="d-flex form-input">
					<label for="priority">Priorité :</label>
					<select name="priority">
						{% for priority in priorities %}
							<option value="{{ priority.priority_id }}" id="{{ priority.priority_id }}">{{ priority.priority_name }}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Bouton de validation -->
				<div class="d-flex submit-input">
					<input type="submit" name="update" class="d-flex" value="Modifier la tâche"/>
				</div>
			</div>
		</form>
	</main>
{% endblock %}