{% extends "base.html.twig" %}

{% block title %}Vos tâches - Todo List PHP
{% endblock %}

{% block main %}
	<div class="card bg-color">
		<div class="card-header">
			<h1 class="text-dark fw-normal text-center my-2">Todo list</h1>
		</div>

		<section id="all-tasks">
            <a href="/form">Créer une nouvelle tâche</a>
			<ul class="text-dark list-unstyled">
				{% for task in tasks %}
					<li class="d-flex task">
						<input type="checkbox" name="{{ task.task_id }}" id="{{ task.task_id }}"/>
						<label for="{{ task.task_id }}" class="priority-{{ task.priority_id }}">{{ task.task_name }}</label>
						<span class="category" id="{{ task.category_id }}">({{ task.category_name }})</span>
						<div>
							<form action="php/update-task.php" method="post">
								<input type="submit" name="modifier[{{ task.task_id }}]" class="update" id="update" value="Renommer" onclick="return confirm('Voulez-vous renommer cette tâche ?')"/>
							</form>
						</div>
						<div>
							<form action="src/php/delete-task.php" method="get">
								<input type="submit" name="delete[{{ task.task_id }}]" class="delete" id="delete" value="Supprimer"/>
							</form>
						</div>
					</li>
				{% endfor %}

				{% if tasks === 0 %}
					<p>Vous n'avez aucune tâche.</p>
				{% endif %}
			</ul>
		</section>

		<!-- <hr class=""> -->

		<div class="filter-tasks-div">
			<form action="index.php" method="post" class="d-flex text-light" id="filter-form">
				<fieldset id="create-filter-form">
					<legend>
						<h2 class="text-dark fw-normal">Filtrer par :</h2>
					</legend>

					<div class="mb-3 form-group">
						<label for="filter-category" class="form-label text-dark">Catégorie :</label>
						<select name="filter-category" id="filter-category" class="form-select" aria-label="Default select example">
							{% for category in categories %}
								<option value="{{ category.category_name }}" id="{{ category.category_id }}">{{ category.category_name }}</option>
							{% endfor %}
						</select>
					</div>

					<input type="submit" name="display" id="display" value="Afficher les tâches" class="btn btn-primary"/>
				</fieldset>
			</form>
		</div>

		<div class="card-footer" style="border-color: #aaaaaa;">
			<div id="all-buttons" class="d-flex">
				<ul class="list-unstyled">
					<li>
						<button type="submit" id="delete-task-btn" class="btn btn-success">Supprimer les tâches terminées</button>
					</li>
					<li>
						<button type="submit" id="delete-all-btn" class="btn btn-danger">Supprimer toutes les tâches</button>
					</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
