{% extends "base.html.twig" %}

{% block title %}Vos tâches - Todo List PHP
{% endblock %}

{% block main %}
	<main>
		<div class="d-flex action">
			<h1>Vos tâches</h1>
			<a href="/task/createTask">
				<i class="fa-solid fa-plus"></i>Créer une nouvelle tâche</a>
		</div>

		<section class="d-flex all-tasks">
			<ul>
				{% for task in tasks %}
					<li class="d-flex task">
						<input type="checkbox" name="{{ task.task_id }}" id="{{ task.task_id }}"/>
						<label for="{{ task.task_id }}" class="priority-{{ task.priority_id }}">{{ task.task_name }}</label>
						<span class="category" id="{{ task.category_id }}">({{ task.category_name }})</span>
						{#
						- Je crée un lien vers la route (/form/updateTask) que je complète passant l'identifiant de la tâche à
						modifier (?id={{ task.task_id }}) dans l'URL afin de rediriger l'utilisateur vers une page permettant de
						modifier la tâche correspondante.

						Note : "?id=" correspond au paramètre GET dans l'url (c'est comme si je faisais $_GET['task_id'])
						#}
						<a href="/task/updateTask?id={{ task.task_id }}" class="edit-button"><i class="fa-solid fa-pen"></i>Modifier</a>
						<div class="delete-button">
							<form action="/delete" method="post">
								{#
								Cet input récupère l'id de la tâche à supprimer, qui permet de trouver la tâche à supprimer grâce
								à son identifiant.
								#}
								<input type="hidden" name="task_id" value="{{ task.task_id }}">
								{# J'ajoute aussi un jeton CSRF pour contrer les failles CSRF #}
								<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
								<button class="delete" id="delete"><i class="fa-solid fa-ban"></i>Supprimer</button>
							</form>
						</div>
					</li>
				{% endfor %}
				
				<p class="task-message">{{ message }}</p>
			</ul>
		</section>

		{# <div class="filter-tasks-div">
							<form action="index.php" method="post" class="d-flex" id="filter-form">
								<fieldset id="create-filter-form">
									<legend>
										<h2>Filtrer par :</h2>
									</legend>
				
									<div>
										<label for="filter-category">Catégorie :</label>
										<select name="filter-category" class="filter-category">
											{% for category in categories %}
												<option value="{{ category.category_name }}" id="{{ category.category_id }}">{{ category.category_name }}</option>
											{% endfor %}
										</select>
									</div>
				
									<input type="submit" name="display" value="Afficher les tâches"/>
								</fieldset>
							</form>
						</div> #}

		<div class="d-flex action-buttons">
			<ul class="d-flex list-unstyled">
				<li>
					<button type="submit" class="delete-task-btn"><i class="fa-solid fa-square-check"></i>Supprimer les tâches terminées</button>
				</li>
				<li>
					<button type="submit" class="delete-all-btn"><i class="fa-solid fa-trash"></i>Supprimer toutes les tâches</button>
				</li>
			</ul>
		</div>
	</main>

{% endblock %}
