{% extends "base.html.twig" %}

{% block title %}Votre profil - Todo List PHP
{% endblock %}

{% block favicon %}
	<link rel="icon" type="image/x-icon" href="../../assets/imgs/favicon-48x48.png">
{% endblock %}

{% block main %}
	<main
		class="d-flex profile-form">
		{#
								L'action du formulaire doit bien contenir l'identifiant de la tâche, sinon l'identifiant ne pourra pas être récupéré
								par le formulaire, ce qui me renverra vers une page d'erreur.
								#}
		<form action="/task/updateTask?id={{ task.task_id }}" method="post">
			<div class="form-container">
				<h1>Votre profil</h1>

				<!-- Nom de l'utilisateur -->
				<div class="d-flex form-input">
					<label for="username" class="form-label">Nom d'utilisateur</label>
					<input type="text" name="username" id="username" value="{{ task.task_name }}" required/>
				</div>

				<!-- Adresse mail -->
				<div class="d-flex form-input">
					<label for="email" class="form-label">Adresse mail</label>
					<input type="email" name="email" id="email" value="{{ task.task_name }}" required/>
				</div>

				<div class="error-message">
					<p>{{ message }}</p>
				</div>

				<!-- Bouton de validation -->
				<div class="d-flex submit-input" id="update-submit">
					<input type="submit" name="update" class="d-flex" value="Enregistrer les modifications"/>
				</div>
			</div>
		</form>

		<hr>

		<div class="d-flex account-action-buttons">
			<h2>Autres actions</h2>
			<ul class="d-flex list-unstyled">
				<li>
					{# La vue supervise l'affichage des données, l'état du bouton (désactivé ou non) va donc être géré par Twig et pas par le contrôleur #}
					<a href="#" class="edit-password-link d-flex">
						<i class="fa-solid fa-arrows-rotate"></i>Réinitialiser le mot de passe</a>
				</li>
				<li>
					<form action="/deleteAllTasks" method="post">
						<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
						<button type="submit" class="delete-account-btn">
							<i class="fa-solid fa-triangle-exclamation"></i>Supprimer mon compte</button>
					</form>
				</li>
			</ul>
		</div>
	</main>
{% endblock %}

{% block footer %}
	<footer class="footer-dynamic">
		<div class="socials-icons d-flex">
			<a href="https://github.com/Luna-bf" target="_blank">
				<i class="fa-brands fa-github"></i>
			</a>
			<a href="https://www.linkedin.com/in/luna-buratti-fayolle/" target="_blank">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</div>
	</footer>
{% endblock %}
